// Основные цвета 
$dark-gray: #60606e;
$white: #ffffff;
$lighter-gray: #7beec7;
$black: #000000;
$gray: #999999;
$light-gray:#cdcdcd;

// Шрифты 
$Montserrat: 'Montserrat', sans-serif;
$Sans: 'Open Sans', sans-serif;

//размеры текста 
$fs-small: 14px;
$fs-normal: 16px;
$fs-big: 18px;
$fs-bigger: 30px;
$fs-biggest: 48px;

//жирность текста 
$fw-regular: 400;
$fw-bold: 700;
$fw-extra: 800;